<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BlogPost</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"  th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="login.html">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/register}">Sign up <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="sidenav">
    <p>Jeremy Holbrecht</p>
    <p><img src="https://i.imgur.com/OKT5y9S.png" alt=""></p>
    <p>Logged in: 15478</p>
    <p>Logged out: 500</p>
    <p>Visited: 9687892</p>
</div>

<!--<div class="block">
<h1>hellohellohellohellohellohellohellohello  I am a blogpost blblblblbl</h1></div>-->
<div class="block">

    <div>  <a id="blogTitle" th:text="${blogPost.title}">Title</a>
        <p> posted by <a th:href="@{/index/{userName}(userName = ${blogPost.user.userName})}" th:text="${blogPost.user.userName}">Author</a> at <a th:text="${blogPost.timeOfPost}">timeOfPost </a></p>
        <div><p th:text="${blogPost.blogBody}">Text....</p></div>
    </div></div></div>

<div th:each="comment : ${comments}">
    <div class="block">
      <!--  <div>  <a id="comments" th:text="${comment.name}">name</a>
            <p> posted by <a th:text="${comment.user.userName}">Author</a> at <a th:text="${comment.commentCreatedTime}">timeOfPost </a></p>
            <div><p th:text="${blogPost.comment}">Text....</p></div>
        </div></div>-->
    </div>

    <div class="block">
        <div class="card">
            <div class="card-header">
                <h2>Leave a comment</h2>
            </div>

            <div class="card-body">
                <form
                        role="form"
                        method="post"
                        th:action="@{/addComment)}"
                        th:object="${comment}"
                >
                    <div class="row">
                        <div class="col-md-9 mb-3">
                                <textarea
                                        placeholder="Your comment"
                                        rows="8"
                                        th:field="*{content}"
                                >
                                </textarea>
                            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <button
                                    class="btn btn-primary"
                                    type="submit"
                            >
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>